<% provide(:title, "About") %>

<!DOCTYPE html> 
<html>
	<head>
		<title><%= yield(:title) %> | Bilbo Baggins? More Like Bilbo Swaggins</title>
	</head>
	<body>
		<h1>About</h1>
		<h2>Bilbo Baggins</h2>
		<img src = "https://pbs.twimg.com/profile_images/3497646581/7c3201d97da740f0709e6cfcf52a973c.jpeg" /> 
		<p>Bilbo Baggins was a Hobbit, and the main protagonist in The Hobbit. He was hired by Thorin and Company to be their burglar on the Quest of Erebor, and later fought in the Battle of the Five Armies. 
		</p>
	</body>
</html>