<% provide(:title, "Contact") %> 

<h1>Contact</h1>
<h2>Thorin And Company</h2>
<p>
Thorin and Company were the group of thirteen dwarves, a Wizard (Gandalf), and a hobbit (Bilbo Baggins), led by Thorin Oakenshield. Their main purpose was to regain the lost Dwarven kingdom of the Lonely Mountain (Erebor) from the Dragon Smaug.
</p>
