<% provide(:title, "Help") %>

<!DOCTYPE html> 
<html>
	<head>
		<title><%= yield(:title) %> | The Helpful Help Page, Featuring Bilbo Baggins</title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
	I don't quite know how to help you, so here is a picture of Bilbo Baggins to make you feel better.
		</p>
		<p>
			<img src = "http://i1.cdnds.net/12/44/618x916/movies_hobbit_character_posters_1.jpg" /> 
		</p>
	</body>
</html>
