<footer class = "footer">
	<small>
		The most amazing app in the world, get to know everything about <a href = "http://lotr.wikia.com/wiki/Thorin_II_Oakenshield"> Bilbo Baggins!</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li> 
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href = "https://www.tumblr.com/tagged/the-hobbit">News</a></li>
		</ul>
	</nav>
</footer>